<div class="card-body">
    <h5 class="card-title">已保存的信息源</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="width: 5%;">ID</th>
                <th scope="col" style="width: 45%;">域名</th>
                <th scope="col" style="width: 15%;">常用</th>
                <th scope="col" style="width: 35%;">操作</th>
            </tr>
        </thead>
        <tbody id="source-list-body">
            {% for source in sources %}
                {% include "partials/source_row.html" %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center text-muted py-3">没有数据 (请点击上方“配置”添加)</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>